body{
    color: black;
    background-color: mistyrose;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: ivory;
    margin: auto 230px;
}

label{
    display: block;
}

.fattext{
    font-size: 19pt;
}
fieldset{
    border: 0px;
}
input{
    margin: 10px;
}

.begin{
    display: block;
    margin: 20px 0;
    width: 100%;
    height: 25px;
}

.commens{
    margin: 20%;
}

.sent{
    height: 20px;
}

.range{
    width: 300px;
}