body{
    background-color: lavender;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

h1{
    text-align: center;
}

form{
    width: 60%;
    margin: 0 auto;
    border: 2px solid;
    box-sizing: border-box;
    padding: 20px;
}

input, label,select{
    display: block;
    margin: 20px 0;
    width: 100%;
}