body{
    color: black;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.float-conrainer::after{
    content: "";
    display: block;
    clear: both;
}
main{
    display: block;
    margin: 5px;
}

header{
    background-color: blue;
    width: 100%;
    height: 100px;
    margin: auto auto;
}
footer{
    background-color: blue;
    width: 100%;
    height: 100px;

}

.forheaderandfooter{
    margin-top: 20px;
    margin-left: 20px ;
    background-color: white;
    width: 30%;
    height: 50px;
    font-size: 21pt;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.fortext{
    color: blue;
}

.float-left{
    float: left;
    margin: 10px;
}
.float-right{
    float: right;
    margin: 10px;
}
.imagecentr{
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        margin: 0 auto;
}

img{
    width: 250px;
    height: 250px;
    margin: 15px;
}
.container{
    margin: 10px;
    height: 300px;
}


