body{
    background-color: wheat;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    color: black;

}

h1{
    text-align: center;
}

.container{
    width: 80%;
    margin: 0 auto;

}

img{
    border-radius: 10%;
}