body{
    color: white;
    background-color: wheat;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16pt;    
}


header{
    width: 100%;
    height: 200px;
    border: 2px solid black;
    background-color: #3b281f;
}

.fordivinheader{
    display: table;
    border: 2px solid black;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 50px ;
    text-align: center;
}

.forth{
    display: table-row;
    border: 2px solid black;
    padding: 10px;
}
.fortd{
    display: table-cell;
    border: 2px solid black;
    padding: 45px;
}    /*Строки под голову*/


.forimageinmain{
    border: 2px solid black;
    margin-left:auto ;
    margin-right:auto ;
    margin-top: 20px;
    height: 200px;
    width: 43%;
}

.line_in_main{
    border: 2px solid black;
    width: 100%;
    height: 80px;
    background-color: #3b281f;
    margin-top: 20px;
}
.line_float_left{
    float: left;
    margin-left: 30%;
    border: 2px solid black;
    margin-top: 10px;
}
.line_float_right{
    float: right;
    margin-right: 30%;
    border: 2px solid black;
    margin-top: 20px;
}/*Перед основой сайта*/

.for_3_images{
    display: table;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    border: 2px solid black;
    margin-top: 15px;
    border-spacing: 20px;
}
.for_1_image{
    display:table-cell;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    border: 2px solid black;
    margin-top: 10px;
}

.big_pictures{
    display:table;
    border: 2px solid black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    margin-top: 10px;
    border-spacing: 10px;

}

.big_1_picture{
    display:table-cell;
    border: 2px solid black;
    width: 25%;
    margin-left:auto;
    margin-right: auto;
    height: 450px;
    margin-top: 10px;
}

/*main конец*/
/*подвал*/
footer{
    width: 100%;
    height: 300px;
    border: 2px solid black;
    background-color: #3b281f;
}

.for_div_footer{
    display: table;
    border: 2px solid black;
    width: 95%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.for_div_footer_th{
    display: table-row;
    border: 2px solid black;
}
.for_div_footer_td{
    display: table-cell;
    border: 2px solid black;
}

/* Текст в картинке*/

.for_image_in_div{
    position: relative;
    border: 2px solid black;
    height: 100%;
    width: 100%;
}

.for_text_in_div{
    position: absolute; /* Накладывает элемент */
    border: 2px solid black;
    background-color: white;
    bottom: 0; /* Прижимаем к нижней части контейнера */
    left: 0; /* Прижимаем к левому краю контейнера */
    right: 0;
    height: 100px;
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
}

.for_text_big{
    font-size: 20pt;
}

.text_image{
    color: black;
}


/*создание разметки внутри большой таблицы*/

.for_footer_margin{
    padding-top: 20px;
    padding-bottom: 20px;
}
.for_footer_margin2{
    padding-top: 20px;
}