body{
    background-color: darkgreen;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
}
.container{
    display: flex;
    justify-content: row;
    margin-left: 100px;
    width: 1300px;
    height: 450px;
    margin-top: 300px;
}
.cards{
    display: flex;
    width: 350px;
    height: 400px;
    margin-left: 10px;
    margin-top: 10px;     
    background-color: white; 
    position: relative;
    transition: transform 0.3s ease;
}
.cell {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100px;
  height: 120px;  
}

.top-left {
  top: 0;
  left: 0;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-right {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}
.card-symbol {
  font-size: 35pt;
}
.card-value{
    font-size: 30pt;
    font-weight: bold;
}
.red{
    color: red;
}
.cards:hover{
    transform: translateY(-40px);
}

